@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));



/* Root Variables */
:root {
    /* Colors */
    --primary-color: #02012B;
    --secondary-color: #CB8542;
    --accent-color: #136360;
    --background-color: #FEFDFF;
    --text-color: #070707;

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-tertiary: 'Montserrat', sans-serif;
}


body {
    font-family: var(--font-secondary);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

/* Links */
a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

/* Buttons */
button {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;

}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

/* Form Inputs */
input, select, textarea {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    font-family: var(--font-secondary);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(19, 99, 96, 0.3);
}

/* Responsive Typography */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

/* Utility Classes */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}
